/* -- Header -- */

.header {
   $height: 60px;

   position: relative;
   display: block;

   &-top-spot {
       height: $height + $size;
   }

   /* -- Navigation -- */
   .navbar {
       position: relative;
       max-height: 1000px;
       z-index: 1200;
       width: 100%;

       &-fixed {
           position: fixed;
           left: 0;
           top: 0;
       }

       &-layout {
           $radius: 18px;

           box-shadow: 0 5px 25px rgba(0, 0, 50, 0.12);
           border-radius: 0 0 $radius $radius;
           background: $surface;
           margin: 0 auto;
       }

       &-head {
           flex-direction: row;
           align-items: center;
           flex-wrap: nowrap;
           display: flex;
           width: 100%;
       }

       &-title {
           font-family: $title-font;
           letter-spacing: 0.05em;
           text-decoration: none;
           line-height: $height;
           padding-left: $size;
           position: relative;
           font-size: 17px;
       }

       &-list {
           transition: max-height 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
           justify-content: center;
           align-items: center;
           white-space: nowrap;
           overflow-y: hidden;
           list-style: none;
           display: flex;
           width: 100%;
           margin: 0;
       }

       &-link {
           font-family: $bold-font;
           text-transform: uppercase;
           line-height: $height;
           letter-spacing: 1px;
           font-weight: 300;
           padding: 0 28px;
           font-size: 14px;
           display: block;
           color: $black;
           width: 100%;

           &:hover {
               color: $mid-light !important;
           }

           &-focus {
               // text-decoration: line-through;
               color: $mid-dark;
           }
       }

       &-mobile {
           display: none;
       }

       &-desktop {
           display: block;
       }

       //! purgecss start ignore
       // Mobile navbar settings
       @media (max-width: 600px) {
           &-layout,
           &-list {
               flex-direction: column;
           }

           &-head {
               padding-right: $size;
           }

           &-menu {
              cursor: pointer;
           }

           &-show {
               & .navbar-list {
                  max-height: 100vh !important;
               }

               & .navbar-head {
                  border-bottom: 1px solid $background;
               }
            }

           &-list {
               max-height: 0;

               li {
                   text-align: center;
                   display: block;
                   width: 100%;
               }
           }

           &-desktop {
               display: none;
           }

           &-mobile {
               display: block;
           }
       }

       // Desktop navbar settings
       @media (min-width: 600px) {
           &-layout {
               padding: 0 $size;
               display: flex;
           }

           &-list {
               height: $height;
           }
       }
       //! purgecss end ignore
   }
}
