include ./content.pug

mixin header(_page)
  - let page = _page || page;
  - let _tabs = page.tabs && page.tabs.values || [];
  - let _name = (page.name || "").toLowerCase();

  header.header
    nav.navbar.navbar-fixed
      article.layout-contain.navbar-layout
        section.navbar-header
          +link({
            href: "/" + (dev && staticSite ? "index.html" : ""),
            class: "navbar-title",
            content: "JOSEPH!"
          })
        
        section.layout-spacer
        section.navbar-main
          ul.navbar-list
            each tab in _tabs
              - let _link = tab.a;
              - let _href = _link.href;
              - let _content = _link.content;
              - let _class = _name == _content ? "navbar-link-focus" : "";

              li
                a.navbar-link(href=_href class=_class data-swup-preload)= _content
