mixin header(tabs, title)
  header.header
    nav.navbar.navbar-fixed
      article.layout-contain.navbar-layout
        section.navbar-header
          a(href="/").style-16.style-bolder.style-letter-spacing-small.layout-padding-horz-small.layout-padding-left JOSEPH!
        section.layout-spacer
        section.navbar-main
          ul.navbar-list
            each tab in tabs.values
              li
                a.navbar-link(href=tab.a.href class=`${title.toLowerCase() == tab.a.content && "navbar-link-focus"}` data-swup-preload)= tab.a.content
