mixin header(tabs, title)
  header.header
    nav.navbar.navbar-fixed
      article.layout-contain.navbar-layout
        section.navbar-header
          a(href=("/" + (dev && staticSite ? "index.html" : "") )).navbar-title JOSEPH!
        section.layout-spacer
        section.navbar-main
          ul.navbar-list
            each tab in tabs.values
              li
                a.navbar-link(href=tab.a.href class=`${title.toLowerCase() == tab.a.content && "navbar-link-focus"}` data-swup-preload)= tab.a.content
