include ./content.pug

mixin hero(value)
  - let _value = value || { img: {}, title: "Title", };
  - let _title = _value.title;
  - let _image = _value.img;

  article.layout-contain.layout-padding-horz-small.layout-padding-bottom.layout-padding-dull-top
    .layer-hero
      +image(_image)

      section.layout-enlarge
        .layer-content.style-center
          section.layer-header
          section.layer-main
            h1.style-font-title.layer-title.style-white= _title
            
            +link({
              class: "h3 style-secondary layer-hero-scroll-down layer-shadow icon-btn",
              content: ""
            })
              .layout-padding-small
                i.icon expand_more

