doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv='Accept-CH' content='DPR, Viewport-Width, Width')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='preconnect' href='https://fonts.gstatic.com/')
    if staticSite
      link(rel='preconnect' href=`https://res.cloudinary.com/${cloud_name}/`)

    link(rel="preload" href="https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2" as="font" type="font/woff2")
    link(rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" as="font" type="font/woff2")
    link(rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2" as="font" type="font/woff2")
    link(rel="preload" href="https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2" as="font" type="font/woff2")
    link(rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" as="font" type="font/woff2")
    link(rel='stylesheet' href='./css/app.min.css' inline async)
    
    //- link(rel='preconnect' href='https://polyfill.io/v3/')
    //- link(rel='dns-prefetch' href='https://fonts.googleapis.com')
    //- link(rel='stylesheet' async href='https://fonts.googleapis.com/css?family=Montserrat:700,800|Roboto:400,600|Roboto+Slab:400,700|Material+Icons&display=swap')

    title= title

    include ./components/header.pug
    include ./components/layer.pug
    include ./components/layout.pug
    include ./components/title.pug
    include ./components/content.pug
    include ./components/hero.pug
    include ./components/footer.pug
  body
    +header(tabs, title)

    .header-top-spot
    main.main#swup.transition-fade
      if self
        +doc(self, false)
      if values
        each val in values
          +doc(val, false)
        each val in values
          if val.layer
            +layer(val.layer)
              if val.layer.hero
                +hero(val.layer.hero)
              if val.layer.layout
                +layout(val.layer.layout)
                  each detail in val.layer.layout.values
                    if detail.section.title
                      +title(detail.section)
                    +content(detail.section)

    +footer("2019 Okiki Ojo")
    script(src=`${dev ? './js/app.modern.min.js' : './js/app.vendor.min.js'}` inline defer)